<%= stylesheet_link_tag "zone" %>
<body>

<div id="header">
<h1>Edit Agency Record</h1>
</div>

<div id="section"><center>
 
  <%= form_for(:agency, :url => {:controller => 'agency', :action => 'savetable', :method=>:get, :id => params[:id], :name => params[:name],:contactnum => params[:contactnum],:prioritynum => params[:prioritynum], :reponsibilities => params[:reponsibilities], :head => params[:head]}) do |f| %>

  	<br>Agency ID:<br><%= f.text_field :id,:value => @a.id, :readonly => true %> 
    <br>Name::<br><%=f.text_field :name,:value => @a.name%> 
    <br>Head:<br><%=f.text_field :head,:value => @a.head%> 
    <br>Contact Number::<br><%=f.telephone_field :contactnum,:value => @a.contactnum%> 
    <br>Priority Number:<br><%=f.number_field :prioritynum,:value => @a.prioritynum%> 
    <br>List of Responsibilities:<br><%=f.text_area :reponsibilities,:value => @a.reponsibilities%> 
    
            
    <br><br><br><%= f.submit "Submit", class: "btn btn-default" %><% end %><hr>

    
</div>
</body>
