<%= stylesheet_link_tag "zone" %>
<body>

<div id="header">
<h1>Edit Municipality Record</h1>
</div>

<div id="section"><center>
  
<%= form_for(:municipality, :url => {:controller => 'municipal', :action => 'savetable', :method=>:get, :id => params[:id], :name => params[:name],:people_id => params[:people_id],:area => params[:area]}) do |f| %>
<table class="tableContainer" cellspacing="80px">   
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">
  	<td height="100" width="15%" colspan="2"> <b>Municipality ID:</b><br><%=f.text_field :id,:value => @municipality.id, :readonly => true %> </td></tr>
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <td height="100" width="15%"> <b>Municipality Name:</b><br><%=f.text_field :name,:value => @municipality.name%> </td>
    <td height="100" width="15%"> <b>Mayor:</b><br></b><br><%= f.select :people_id, People.all.collect {|p| [[p.firstname,p.familyname],p.id] },{:prompt => "Please Select",:selected =>@municipality.people_id}%></td> </tr> 
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <td height="100" width="15%"> <b>Area in km: </b><br><%=f.number_field :area, :class => 'text_field', :step => '0.01',:value => @municipality.area, :readonly => true %></td>
    <td height="100" width="15%"><b>Population:</b><br><%= f.number_field :population,:value => @municipality.population, :readonly => true  %></td> </tr>
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">      
      <td height="100" width="15%"> <b>Infrastructure (Peso): </b><br><%=f.number_field :infra, :class => 'text_field', :step => '0.01',:value => @municipality.infra, :readonly => true %></td>
      <td height="100" width="15%"><b>Livestock (Peso):</b><br><%=f.number_field :livestock,:value => @municipality.livestock, :class => 'text_field', :step => '0.01', :readonly => true  %></td></tr> 
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">
      <td height="100" width="15%"><b>Agriculture (Peso):</b><br><%=f.number_field :agri,:value =>@municipality.agri, :class => 'text_field', :step => '0.01', :readonly => true  %></td>
      <td height="100" width="15%"><b>Commerce/Trade (Peso):</b><br><%=f.number_field :commercial,:value => @municipality.commercial, :class => 'text_field', :step => '0.01', :readonly => true  %></td></tr></table><hr> 
    

                       
                           
    <center><br><br><%= f.submit "Submit", class: "btn btn-default" %><% end %></center>
 
    
  

</div>
</body>
