<%= stylesheet_link_tag "zone" %>
<body>

<div id="header">
<h1>EDIT People Record</h1>
</div>



<div id="section">


 
  <%= form_for(:people, :url => {:controller => 'people', :action => 'savetable', :method=>:get, :id => params[:id],:condition => params[:condition], :firstname => params[:firstname],:middlename => params[:middlename],:familyname => params[:familyname], :birthdate=> params[:birthdate], :civilstatus=> params[:civilstatus], :occupation=> params[:occupation], :contactnum=> params[:contactnum], :disabilityinfo=> params[:disabilityinfo], :household_id=> params[:household_id], :email=> params[:email], :gender=> params[:gender]}) do |f| %>
<table class="tableContainer" cellspacing="80px">   

    <tr  style="outline: thin solid" bgcolor="#C0C0C0">
  	<td height="100" width="15%"><b>Person ID:</b><br><%= f.text_field :id,:value => @p.id, :readonly => true %><br><%= f.text_field :condition,:value =>@p.condition, :readonly => true %> </td>
    <td height="100" width="15%"><b>Disability Info:</b><br><%=f.text_area :disabilityinfo,:value => @p.disabilityinfo%> </td>
    <td height="100" width="15%"><b>Belongs to Household:</b><br><%= f.select :household_id, Household.all.map { |u|[u.name,u.id]}, {:prompt => "Please Select ",  :selected =>@p.household_id}%></td></tr>
    <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <td height="100" width="15%"><b>First Name:</b><br><%=f.text_field :firstname,:value => @p.firstname%> </td>
    <td height="100" width="15%"><b> Middle Name:</b><br><%=f.text_field :middlename,:value => @p.middlename%> </td>
    <td height="100" width="15%"> <b>Last Name:</b><br><%= f.text_field :familyname,:value => @p.familyname%> </td></tr>
    <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <td height="100" width="15%"> <b> Birth Date:</b><br><%= f.date_select :birthdate,:default => @p.birthdate, :start_year => Date.current.year, :end_year => 1920%> </td>
    <td height="100" width="15%"> <b> Email Address:</b><br><%=f.text_field :email,:value => @p.email%> </td>
    <td height="100" width="15%">  <b>Gender:</b><br><%= f.select :gender, options_for_select(%w[Please_Select Male Female],@p.gender)%></td></tr>
    <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <td height="100" width="15%"> <b>Civil Status:</b><br><%= f.select :civilstatus, options_for_select(%w[Please_Select Single Married Separated Widow Widower Annuled Divorced], @p.civilstatus) %> </td>
    <td height="100" width="15%"> <b> Occupation:</b><br><%=f.text_field :occupation,:value => @p.occupation%> </td>
    <td height="100" width="15%"> <b> Contact Number:</b><br><%=f.telephone_field :contactnum,:value => @p.contactnum%> </td></tr>
    
    
    </tr></table><hr>
    
    <center><%= f.submit "Submit", class: "btn btn-default" %></center><% end %>

    

</div>
</body>
