<%= stylesheet_link_tag "zone" %>

<script>


  function makingSure(e) {
   var r = window.confirm("The item that your are trying to delete may be connected to another item in the database. Are you sure you want to delete this item? Deleted items cannot be recovered." );
   if (r==true){
    return true;
   }
   else
   e.preventDefault();
}

</script>
<body>

<div id="header">
<h1>People Listings</h1>
</div>



<div id="section">

<table class="tableContainer" cellspacing="80px">   
                     
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">                          
    <th height="50">ID</th>
    <th height="50">FIRST NAME</th>
    <th height="50">MIDDLE NAME</th>
    <th height="50">LAST NAME</th>
    <th height="50">AGE</th>
    <th height="50">CONDITION</th>
    <th height="50"></th>
    <th height="50"></th>
    <th height="50"></th>
    <th height="50"></th>
    <th height="50"></th>
   </tr>

<% @p.all.each do |people| %>
  <tr  style="outline: thin solid" bgcolor="#B0C4DE">
  <td height="50" width="15%"><%= people.id %></td>
  <td height="50" width="15%"><%= people.firstname %></td>
  <td height="50" width="15%"><%= people.middlename %></td>
  <td height="50" width="15%"><%= people.familyname%></td>
  <td height="50" width="15%"><%= people.age%></td>
  <td height="50" width="15%"><%= people.condition%></td>
   
  
  <td><%= button_to "Edit", {:controller => "people", :action => "edit", :id => people.id}, {:method=>:post} %></td>
  <td><%= button_to "View Details",{:controller => "people", :action => "showdetails", :id => people.id} , {:method=>:post} %></td>
  <td height="50" width="15%"></td>
  <td><%= link_to "Delete", people_delete_path(:people=>people.id), method: :delete, class:'btn btn-mini btn-danger', :onclick => "makingSure(event)"%></td>

  </tr>

  
<% end %>
</table><br><br><br>

 

  <h3>SUMMARY:</h3><center>
  <table class="tableContainer" cellspacing="80px"> 
    <tr  style="outline: thin solid" bgcolor="#C0C0C0" >   
    <td height="50" width="25%"><b>TOTAL NUMBER OF RECORDS :<%=@p.count%></b></td> 
    <td height="50" width="25%"><b>TOTAL NUMBER OF LIVING :<%=@p.where("condition LIKE ?", "Alive").count%></b></td>
    <td height="50" width="25%"><b>TOTAL NUMBER OF DEAD :<%=@p.where("condition LIKE ?", "Dead").count%></b></td>  
  </tr></table><br><br></center>

  
</div>

