<%= stylesheet_link_tag "zone" %>
<body>

<div id="header">
<h1>People Record</h1>
</div>



<div id="section">
 
<table class="tableContainer" cellspacing="80px">   
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">    
    <td height="70" width="15%" colspan="3"><b>People ID:</b>  <%=@p.id%></td></tr>
    <tr  style="outline: thin solid" bgcolor="#C0C0C0"> 
    <td height="70" width="15%"><b>Age:</b>  <%= @p.age%> </td>
    <td height="70" width="15%"><b>Disability Info:</b>  <%= @p.disabilityinfo%> </td>
    <td height="70" width="15%"><b>Belongs to Household:</b>  <%= @p.household_id%></td>
    </tr>
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">     
    <td height="70" width="15%"><b>First Name:</b>  <%=@p.firstname%></td>
    <td height="70" width="15%"><b>Middle Name: </b>  <%=@p.middlename%></td>
    <td height="70" width="15%"><b>Last Name:</b>  <%= @p.familyname%> </td></tr>
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">     
    <td height="70" width="15%"><b>Birth Date:</b>  <%= @p.birthdate%> </td>
    <td height="70" width="15%"><b>Email Address:</b>  <%=@p.email%> </td>
    <td height="70" width="15%"><b>Gender:</b>  <%=@p.gender%> </td></tr>
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">    
    <td height="70" width="15%"><b>Civil Status:</b>  <%=@p.civilstatus%> </td>
    <td height="70" width="15%"><b>Occupation:</b>  <%=@p.occupation%> </td>
    <td height="70" width="15%"><b>Contact Number:</b>  <%= @p.contactnum%> </td> </tr>
  
 </table><hr>
  
  

</body></div>
