<%= stylesheet_link_tag "zone" %>
<body>

<div id="header">
<h1>Edit Household Record</h1>
</div>

<div id="section"><center>
 

  <%= form_for(:household, :url => {:controller => 'household', :action => 'savetable', :method=>:get, :id => params[:id], :name => params[:name],:people_id => params[:people_id],:zone_id => params[:zone_id], :condition => params[:condition]}) do |f| %>

<table class="tableContainer" cellspacing="80px">   
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">
  	<td height="100" width="15%" colspan="2" align="center"><b>Household ID: </b><br><%= f.text_field :id,:value => @h.id, :readonly => true %> </td>
    <td height="100" width="15%"><b>Family Name:</b><br><%=f.text_field :name,:value => @h.name%> </td></tr>
</table>
<table class="tableContainer" cellspacing="80px">  
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <td height="100" width="15%"><b>Head of the Family:</b><br><%= f.select :people_id, People.all.collect {|p| [[p.firstname,p.familyname],p.id ] },{:prompt => "Please Select", :selected =>@h.people_id}%></td>
    <td height="100" width="15%"><b>Belongs to Zone: </b><br><%= f.select :zone_id, Zone.all.collect {|p| [ p.name, p.id ] },{:prompt => "Please Select", :selected =>@h.zone_id}%></td>
    <td height="100" width="15%" span="2"><b> Current Condition:</b><br><%= f.select :condition, options_for_select(%w[Please_Select Good Missing Injured Dead Displaced Relocated NON-EXISTENT], @h.condition) %></td></tr>
    
    
</table>
    

    <br><br><br><%= f.submit "Submit", class: "btn btn-default" %><% end %><hr>

    

</div>
</body>
