<%= stylesheet_link_tag "zone" %>
<script>


  function makingSure(e) {
   var r = window.confirm("The item that your are trying to delete may be connected to another item in the database. Are you sure you want to delete this item? Deleted items cannot be recovered." );
   if (r==true){
    return true;
   }
   else
   e.preventDefault();
}

</script>
<body>

<div id="header">
<h1>Household Listings</h1>
</div>

<div id="section"><center>

<table class="tableContainer" cellspacing="80px">                       
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">                          
    <th height="50">ID</th>
    <th height="50">FAMILY NAME</th>
    <th height="50">LIVING <br> MEMBERS</th>
    <th height="50">ZONE ID</th>
    <th height="50" colspan="6">ZONE</th>
 </tr>

  
<% @h.all.each do |hh| %>
  
<tr  style="outline: thin solid" bgcolor="#B0C4DE" >
  <td height="50" width="5%"><%= hh.id %></td>      

  <td height="50" width="15%"><%= hh.name %></td>
  <td height="50" width="10%"><%= hh.count %></td>
  <td height="50" width="5%"><%= hh.zone_id %></td>
  <td height="50" width="15%">
    <%@pr=Zone.joins(:household).where(['households.zone_id = ?',hh.zone_id])%>
    <%if @pr.exists?%>
      <%=@pr[0].name%>  </td>
    <%else%>
     <font size="2" color='red'>The value of this field may not have been set, or has been deleted. Please Edit.</font></td>
  <%end%>   
  
  <td><%= button_to "Edit", {:controller => "household", :action => "edit", :id => hh.id}, {:method=>:post} %></td>
  <td><%= button_to "View Members", {:controller => "people", :action => "search", :id => hh.id}, {:method=>:post} %></td>
  <td><%= button_to "Add Members", {:controller => "people", :action => "new", :id => hh.id}, {:method=>:post} %></td>
  
  <td height="50" width="25%"></td>
  <td><%= link_to "Delete", household_delete_path(:household=>hh.id), method: :delete, class:'btn btn-mini btn-danger', :onclick => "makingSure(event)"%></td>
</tr><% end %>
</table><br><br>

<h3> SUMMARY: </h3><center>

<table class="tableContainer" cellspacing="80px"> 
<tr  style="outline: thin solid" bgcolor="#C0C0C0" >   
  <td height="50" width="25%"><b>TOTAL NUMBER OF HOUSEHOLDS:</b></td> 
  <td height="50" width="25%"><%=@h.count%></td></tr>

<tr  style="outline: thin solid" bgcolor="#C0C0C0" > 
  <td height="50" width="25%"><b>TOTAL NUMBER OF LIVING MEMBERS :</b></td>
  <td height="50" width="25%"> <%=@h.sum(:count)%></td></tr>
</table></center><br><br>



</center><br><br>

</div>
