
<%= stylesheet_link_tag "zone" %>

<body> 
<div id="header">
<h1>Route Listings </h1>
</div>



<div id="section">

<Table>  
<tr>
  <%= form_tag(route_index_path, :method => "get", id: "search-form") do %>
  Passable Routes?: <%= text_field_tag :search, params[:search], placeholder: "Enter t or f here" %>
  <%= submit_tag "Search", :name => nil %>
<% end %></td>

</tr></table><br><br>

 <table class="tableContainer" cellspacing="80px">                     
  <tr  style="outline: thin solid" bgcolor="#C0C0C0" >                          
    <th height="50">ROUTE ID</th>
    <th height="50">NAME</th>
    <th height="50">TRAVEL TIME (min)</th>
    <th height="50">PASSABLE?</th>
    <th height="50" colspan="7">DESCRIPTION </th>
  </tr>

<% @r.all.each do |route| %>
  <tr  style="outline: thin solid" bgcolor="#B0C4DE" >
  <td height="50" width="5%"><%= route.id %></td>
  <td height="50" width="15%"><%= route.name %></td>
  <td height="50" width="15%"><%= route.weight %></td>
  <td height="50" width="5%"><%= route.passable %></td>
  <td height="50" width="15%"><%= route.description %></td>
  
 
  <td><%= button_to "Edit", {:controller => "route", :action => "edit_user", :id => route.id}, {:method=>:post} %></td>
  <td height="50" width="25%"></td>
  
  

</tr>
<% end %></table><br><br><br>

