<%= stylesheet_link_tag "zone" %>

<div id="header">
	<h1>Find The Best Possible Route Through the Network </h1>
</div>

<center><br><br>
<%=image_tag("network1.png", height: '80%', width: '70%')%>
<div id="nav">
<h3>Select your start and destination places:</h3><br><br><br>

<%= form_tag(bestpath_assess2_path, :method => "get", id: "assess") do %>
  <b> Start place:</b><%=select_tag :start, options_for_select(%w[Please_Select Alaguisoc Balcon_Maravilla Balcon_Melliza Bugnay Buluangan Espinosa Hoskyn Lawi Morobuan Poblacion Rizal San_Miguel Sinapsapan Sta_Teresa]) %><br><br><br>
  <b> Destination:</b><%=select_tag :end, options_for_select(%w[Please_Select Alaguisoc Balcon_Maravilla Balcon_Melliza Bugnay Buluangan Espinosa Hoskyn Lawi Morobuan Poblacion Rizal San_Miguel Sinapsapan Sta_Teresa]) %>
  <br><br><%= submit_tag "Search", :name => nil %>
<% end %>

</center>

</div></div>

 




 
