<%= stylesheet_link_tag "zone" %>
<script>


  function makingSure(e) {
   var r = window.confirm("The item that your are trying to delete may be connected to another item in the database. Are you sure you want to delete this item? Deleted items cannot be recovered." );
   if (r==true){
    return true;
   }
   else
   e.preventDefault();
}

</script>

<body>

<div id="header">
<h1>USERS Listings</h1>
</div><br><br>


<div id="section"><center>

<table class="tableContainer" cellspacing="80px" >                         
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">                          
    <th height="50">ID</th>
    <th height="50">EMAIL</th>
    <th height="50">NUMBER OF TIMES SIGNED IN </th>
    <th height="50"> </th>
    <th height="50"> </th>
    <th height="50"> </th>
   
    
   </tr>

<% @u.all.each do |u| %>
  <tr  style="outline: thin solid" bgcolor="#B0C4DE">
  <td height="50" width="15%"><%= u.id %></td>
  <td height="50" width="15%"><%= u.email %></td>
  <td height="50" width="15%"><%= u.sign_in_count %></td>
  
  
  <td><%= button_to "View Details",{:controller => "users", :action => "showdetails", :id => u.id} , {:method=>:post} %></td>
  <td height="50" width="15%"></td>
  <td><%= link_to "Delete", users_delete_path(:user=>u.id), method: :delete, class:'btn btn-mini btn-danger', :onclick => "makingSure(event)"%></td>
    
<% end %>
</table></center>
<strong>TOTAL NUMBER OF USERS:</strong><big> <%=@u.count%></big> 

</div>