<%= stylesheet_link_tag "zone" %>
<body>

<div id="header">
<h1>Affected Zone Listings</h1>
</div>

<div id="section"><center>
 
<table class="tableContainer" cellspacing="80px">   
                     
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">

    
    <th >ZONE ID</th>
    <th >ZONE NAME</th>
    <th >Disaster<br>Details</th>
    <th >Date Affected</th>
    <th ></th>
    <th ></th>
  </tr>

<% @hit.all.each do |hit| %>
  <tr  style="outline: thin solid" bgcolor="#B0C4DE">
  
  
  <td height="50" width="5%"><%= hit.zone_id %></td>
  <%@zo = Zone.joins(:hit).where(['hits.zone_id = ?',hit.zone_id])%>
  <td height="50" width="20%"><%=@zo[0].name%></td>
  <%@d = Disaster.find(hit.disaster_id)%>
  <th height="50" width="35%"><%=@d.details%></th>
  <th height="50" width="25%"><%=@d.date%></th>
  
  <td><%= button_to "Edit", {:controller => "hit", :action => "edit", :id => hit.id}, {:method=>:post} %></td>
  <td height="50" width="25%"></td>
  
  </tr>

  
<% end %>
</table><br><br><br>

 <%x=@hit.count%>

  <h3>SUMMARY:</h3>
  <table class="tableContainer" cellspacing="80px"> 
<tr  style="outline: thin solid" bgcolor="#C0C0C0" >   
  <td height="50" width="25%"><b>TOTAL NUMBER RECORDS: </b></td> 
  <td height="50" width="25%"><%=@hit.count%></td></tr>



</table><br><br><center>

  
</div>

