<%= stylesheet_link_tag "zone" %>
<body>

<div id="header">
<h1>Affected Zone Listings</h1>
</div>

<div id="section"><center>
 


<table class="tableContainer" cellspacing="80px" BORDER="4">   
                     
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">

    <th height="50">HIT ID</th>
    <th height="50">ZONE ID</th>
    <th height="50">ZONE NAME</th>
    <th height="50">DISASTER ID</th>
    
  </tr>

<% @hit.all.each do |hit| %>
  <tr  style="outline: thin solid" bgcolor="#B0C4DE">
  
  <td height="50" width="25%"><%= hit.id %></td>
  <td height="50" width="25%"><%= hit.zone_id %></td>
  <%@zo = Zone.joins(:hit).where(['hits.zone_id = ?',hit.zone_id])%>
  <td height="50" width="25%" align="center"><%=@zo[0].name%></td>
  <td height="50" width="25%"><%= hit.disaster_id %></td>
</tr>

  
<% end %>
</table><br><br><br>

 <%x=@hit.count%>

  <h3>SUMMARY:</h3>
  <table class="tableContainer" cellspacing="80px"> 
<tr  style="outline: thin solid" bgcolor="#C0C0C0" >   
  <td height="50" width="25%"><b>TOTAL NUMBER OF AFFECTED ZONES:</b></td> 
  <td height="50" width="25%"><%=@hit.count%></td></tr>



</table><br><br><center>

  
</div>

