<body>
	
<div id="header">
	<%= link_to "Home", {:controller => 'say', :action => 'hello'} %> ||
	<%= link_to "About", {:controller => 'pages', :action => 'about'} %> ||
	<%= link_to "View Hazard Maps", {:controller => 'pages', :action => 'hazard'} %> ||
	<%= link_to "Contact Us", {:controller => 'pages', :action => 'contacts'} %> ||
	<%= link_to "Check Best Route", {:controller => 'pages', :action => 'bestroute'} %> ||
	<%= link_to "LOG IN", {:controller => 'pages', :action => 'login'} %> ||
</div>
Add user Form
</body>
