<%= stylesheet_link_tag "admin" %>

</script>

<div class="container">
<%=image_tag("banner1.png", height: '30%', width: '100%')%>

<body>
	<ul class = "nav nav-tabs">
  <li><%= link_to "Home", root_path %> </li>
  <li><%= link_to "About", pages_about_path %> </li>
  <li><%= link_to "View Hazard Maps", pages_hazard_path %> </li>
  <li><%= link_to "Contact Us", pages_contact_path %> </li>
  <li><%= link_to "Check Routes in Google Map", pages_bestroute_path %> </li>
  <li><%= link_to "Admin", admin_controlpanel_path%> </li>
  

  <% if current_user %>
      <li><%= link_to "Manage Barangay Data", pages_passcode_path %></li>
      <li><%= link_to "Manage Municipal Data", pages_passcode_path %></li>
      <li><%= link_to "Messages", pages_contact_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  <% else %>
      <li><%= link_to "Sign In", new_user_session_path %> </li>
  <%end%>
  </ul>


<div id="header">
	<h1>Find The Best Passable Route </h1>
</div>

<div id="nav">
  
  <%= link_to "View Routes", @to_display=pages_map_path, target:"display"%><br>
Reported Unaccessable roads:
</div>


<div id="section">
    <iframe name="display" height="700" width="950" scr="<%@to_display%>" seamless>
    
</div>