<h1>Administrative ControlPanel</h1>


<p id ="myP">       
<div class="center jumbotron" >
<h3>User Controls</h3>
<%= link_to "Create User", '/users/new', class: "btn btn-lg btn-primary" %>
<%= link_to "View Users", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "Edit User", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "Delete User", '#', class: "btn btn-lg btn-primary" %><br><br>
</div> 
<div class="center jumbotron">
<h3>Municipal / Barangay Controls</h3>
<%= link_to "Add  Data", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "Edit Data", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "View Data", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "Search Data", '#', class: "btn btn-lg btn-primary" %><br><br>
</div>
<div class="center jumbotron">
<h3>Disaster Controls</h3>
<%= link_to "Manage Disaster", '#', class: "btn btn-lg btn-primary" %> 
</div>
<div class="center jumbotron">
<h3>Reports Controls</h3>
<%= link_to "Query for Reports", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "Search Saved Reports", '#', class: "btn btn-lg btn-primary" %>
<%= link_to "Print Reports", '#', class: "btn btn-lg btn-primary" %>
</div> 
</p>
<body>
