<%= stylesheet_link_tag "zone" %>
<script>


  function makingSure(e) {
   var r = window.confirm("The item that your are trying to delete may be connected to another item in the database. Are you sure you want to delete this item? Deleted items cannot be recovered." );
   if (r==true){
    return true;
   }
   else
   e.preventDefault();
}

</script>

<body>

<div id="header">
<h1>Barangay Listings</h1>
</div>

<div id="section">


<table class="tableContainer" cellspacing="80px">   
                        
        <tr style="outline: thin solid"  bgcolor="#C0C0C0">                          
          <th height="50">ID</th>
          <th height="50">NAME</th>
          <th height="50">MUN. ID </th>
          <th height="50" colspan="9">MUN. NAME </th>
                              
         </tr>

      <% @bar.all.each do |barangay| %>
        <tr style="outline: thin solid"  bgcolor="#B0C4DE">
        <td height="50" width="5%"><%= barangay.id %></td>
        <td height="50" width="15%"><%= barangay.name %></td>
        <td height="50" width="5%"><%= barangay.municipality_id %></td>
        <% @mm=Municipality.joins(:barangay).where(['barangays.municipality_id LIKE ?',barangay.municipality_id])%>
        <%if @mm.exists?%>
          <td height="50" width="15%"><%=@mm[0].name%> </td>      
         <%else%>
         <td height="50" width="15%"><font size="2" color='red'>The value of this field may not have been set, or has been deleted. Please Edit.</font></td>
         <%end%>

        <td><%= button_to "Edit", {:controller => "barangay", :action => "edit", :id => barangay.id}, {:method=>:post} %></td> 
        <td><%= button_to "Details",{:controller => "barangay", :action => "showdetails", :id => barangay.id} , {:method=>:post} %></td>
        <td height="50" width="15%"><%= button_to "View Zones", {:controller => "zone", :action => "search", :id => barangay.id}, {:method=>:post} %></td>
        <td height="50" width="15%"><%= button_to "Create Zones", {:controller => "zone", :action => "new", :id => barangay.id}, {:method=>:post} %></td>
        <td height="50" width="15%"></td>
        <td><%= link_to "Delete", barangay_delete_path(:barangay=>barangay.id), method: :delete, class:'btn btn-mini btn-danger', :onclick => "makingSure(event)"%></td>

        </tr>

       
      <% end %>
      </table></center> 

      <br><br><br>

<h3>Summary: </h3><center>


<table class="tableContainer" cellspacing="80px"> 
<tr  style="outline: thin solid" bgcolor="#C0C0C0" >   
  <td height="50" width="25%"><b>TOTAL NUMBER OF BARANGAY:</b></td> 
  <td height="50" width="25%"><%=@bar.count%></td></tr>

<tr  style="outline: thin solid" bgcolor="#C0C0C0" > 
  <td height="50" width="25%"><b>TOTAL AREA :</b></td>
  <td height="50" width="25%"> <%=@bar.sum(:area)%></td></tr>


<tr  style="outline: thin solid" bgcolor="#C0C0C0" > 
  <td height="50" width="25%"><b>TOTAL NUMBER OF POPULATIONS:</b></td>
  <td height="50" width="25%"> <%=@bar.sum(:population)%></td></tr>

<tr  style="outline: thin solid" bgcolor="#C0C0C0" > 
  <td height="50" width="25%"><b>TOTAL VALUE OF LIVESTOCK IN PESO:</b></td> 
  <td height="50" width="25%"><%=@bar.sum(:livestock)%></td></tr>

<tr  style="outline: thin solid" bgcolor="#C0C0C0" > 
  <td height="50" width="25%"><b>TOTAL VALUE OF AGRICULTURE IN PESO:</b></td> 
  <td height="50" width="25%"><%=@bar.sum(:agri)%></td></tr>

<tr  style="outline: thin solid" bgcolor="#C0C0C0" > 
  <td height="50" width="25%"><b>TOTAL VALUE OF COMMERCE/TRADE IN PESO:</b></td>
  <td height="50" width="25%"><%=@bar.sum(:commercial)%></td></tr>

</table><br><br></center>

      
  </div>
</body>
