<%= stylesheet_link_tag "zone" %>
<script>
  function myFunction() {
   window.alert("Instruction to print: Click Google Chrome Control Button (upper right corner). Click Print. At the Destination Setting, Change to either Save as PDF or select a printer setting." );
   }

</script>
<body onload="myFunction()">

<div class="container">
<div id="header">
<h1>Disaster Report</h1>
</div>

<div id="section"><center>
 
<%@hazard = Hazard.joins(:disaster).where(['disasters.hazard_id = ?',@d.hazard_id])%>
<%@hit= Hit.where(['hits.disaster_id = ?',@d.id])%>

<table>
  <tr>
  <th height="50" width="10%"><b>Date of Disaster: <%=@d.date%></b></th></tr>
  <tr>
  <th height="50" width="10%"><b>Type of Disaster: <%=@d.hazard_id%>-<%=@hazard[0].description%></b></th>
  <tr>
  <th height="50" width="10%"><b>Details of Disaster: <%=@d.details%> </b></th>
</tr></table><br>

<%@dead_age1=0%><%@dead_age2=0%><%@dead_age3=0%><%@dead_age4=0%><%@dead_age5=0%> 
<%@miss_age1=0%><%@miss_age2=0%><%@miss_age3=0%><%@miss_age4=0%><%@miss_age5=0%>
<%@inj_age1=0%><%@inj_age2=0%><%@inj_age3=0%><%@inj_age4=0%><%@inj_age5=0%>
<%@dis_age1=0%><%@dis_age2=0%><%@dis_age3=0%><%@dis_age4=0%><%@dis_age5=0%>
<%@rel_age1=0%><%@rel_age2=0%><%@rel_age3=0%><%@rel_age4=0%><%@rel_age5=0%> 

          
<%count = 0%>

<% @hit.all.each do |y| %>
  
    <%@hh = Household.where('zone_id = ?',y.zone_id)%>

    <% @hh.all.each do |x| %>
        <%@pips = People.where('household_id = ?', x.id)%>
        <%@age=@pips.group(:age,:condition).count%>    
        
    
        <%for @i in 0..2 %>
            <%@dead_age1=@dead_age1+(@age[[@i,"Dead"]] || 0)%>
            <%@miss_age1=@miss_age1+(@age[[@i,"Missing"]] || 0)%>
            <%@inj_age1=@inj_age1+(@age[[@i,"Injured"]] || 0)%>
            <%@dis_age1=@dis_age1+(@age[[@i,"Displaced"]] || 0)%>
            <%@rel_age1=@rel_age1+(@age[[@i,"Relocated"]] || 0)%>
        <%end%>

        <%for @i in 3..10 %>
            <%@dead_age2=@dead_age2+(@age[[@i, "Dead"]] || 0)%>
            <%@miss_age2=@miss_age2+(@age[[@i,"Missing"]] || 0)%>
            <%@inj_age2=@inj_age2+(@age[[@i,"Injured"]] || 0)%>
            <%@dis_age2=@dis_age2+(@age[[@i,"Displaced"]] || 0)%>
            <%@rel_age2=@rel_age2+(@age[[@i,"Relocated"]] || 0)%>
         <%end%>

        <%for @i in 11..20 %>
          <%@dead_age3=@dead_age3+(@age[[@i, "Dead"]] || 0)%>
          <%@miss_age3=@miss_age3+(@age[[@i,"Missing"]] || 0)%>
          <%@inj_age3=@inj_age3+(@age[[@i,"Injured"]] || 0)%>
          <%@dis_age3=@dis_age3+(@age[[@i,"Displaced"]] || 0)%>
          <%@rel_age3=@rel_age3+(@age[[@i,"Relocated"]] || 0)%>
        
        <%end%>

      
        <%for @i in 21..59 %>
          <%@dead_age4=@dead_age4+(@age[[@i, "Dead"]] || 0)%>
          <%@miss_age4=@miss_age4+(@age[[@i,"Missing"]] || 0)%>
          <%@inj_age4=@inj_age4+(@age[[@i,"Injured"]] || 0)%>
          <%@dis_age4=@dis_age4+(@age[[@i,"Displaced"]]|| 0)%>
          <%@rel_age4=@rel_age4+(@age[[@i,"Relocated"]] || 0)%>
        
        <%end%>

      <%for @i in 60..109 %>
        <%@dead_age5=@dead_age5+(@age[[@i, "Dead"]] || 0)%>
        <%@miss_age5=@miss_age5+(@age[[@i,"Missing"]] || 0)%>
        <%@inj_age5=@inj_age5+(@age[[@i,"Injured"]] || 0)%>
        <%@dis_age5=@dis_age5+(@age[[@i,"Displaced"]] || 0)%>
        <%@rel_age5=@rel_age5+(@age[[@i,"Relocated"]] || 0)%>
       
      <%end%>
  <%end%>

<%end%>
    

<%m= @hit.distinct.count(:municipal_id)%>
<h3>MUNICIPALITIES AFFECTED: <%=m%></h3>
<table BORDER=4 CELLSPACING=4 CELLPADDING=4>
   <tr  style="outline: thin solid" bgcolor="#C0C0C0">    
    <th height="50" width="10%">MUNICIPALITY<br>ID</th>
    <th height="50" width="10%">NAME</th>
    <th height="50" width="10%">LANDAREA</th>
    <th height="50" width="10%">DEAD</th>
    <th height="50" width="10%">MISSING</th>
    <th height="50" width="10%">INJURED</th>
    <th height="50" width="10%">DISPLACED</th>
    <th height="50" width="10%">RELOCATED</th>
    <th height="50" width="10%">LIVESTOCK %</th>
    <th height="50" width="10%">AGRI %</th>
    <th height="50" width="10%">INFRA %</th>
    <th height="50" width="10%">COMMERCE %</th>
  </tr>
 
  <%@hit.map(&:municipal_id).uniq.each do |y|%> 
    <%mid1=Municipality.where('id = ?', y)%>
    <tr  style="outline: thin solid" bgcolor="#C0C0C0">    
    <td height="50"><%= y%></td>
    <td height="50" width="20%"><%= mid1[0].name %></td>
    <td height="50" width="20%"><%= mid1[0].area %></td>
    <%mid2=0%><%mid3=0%><%mid4=0%><%mid5=0%><%mid6=0%>
    <%mid7=0%><%mid8=0%><%mid9=0%><%mid10=0%>
    <%mid2=@hit.where(:municipal_id => y).sum :dead%>
    <%mid3=@hit.where(:municipal_id => y).sum :missing%>
    <%mid4=@hit.where(:municipal_id => y).sum :injured%>
    <%mid5=@hit.where(:municipal_id => y).sum :displaced%>
    <%mid6=@hit.where(:municipal_id => y).sum :relocated%>
    <%mid7=@hit.where(:municipal_id => y).sum :livestock%>
    <%mid8=@hit.where(:municipal_id => y).sum :agri%>
    <%mid9=@hit.where(:municipal_id => y).sum :infra%>
    <%mid10=@hit.where(:municipal_id => y).sum :commerce%>
    <td height="50" width="20%"><%= mid2%></td>
    <td height="50" width="20%"><%= mid3%></td>
    <td height="50" width="20%"><%= mid4%></td>
    <td height="50" width="20%"><%= mid5%></td>
    <td height="50" width="20%"><%= mid6%></td>
    <td height="50" width="20%"><%= mid7%></td>
    <td height="50" width="20%"><%= mid8%></td>
    <td height="50" width="20%"><%= mid9%></td>
    <td height="50" width="20%"><%= mid10%></td>
</tr><%end%>
</table>

<%b= @hit.distinct.count(:barangay_id)%>
<h3>BARANGAYS AFFECTED: <%=b%></h3>
<table BORDER=4 CELLSPACING=4 CELLPADDING=4>
   <tr  style="outline: thin solid" bgcolor="#C0C0C0"> 
    <th height="50" width="10%">MUNICIPALITY<br>ID</th>   
    <th height="50" width="10%">BARANGAY<br>ID</th>
    <th height="50" width="10%">NAME</th>
    <th height="50" width="10%">LANDAREA</th>
    <th height="50" width="10%">DEAD</th>
    <th height="50" width="10%">MISSING</th>
    <th height="50" width="10%">INJURED</th>
    <th height="50" width="10%">DISPLACED</th>
    <th height="50" width="10%">RELOCATED</th>
    <th height="50" width="10%">LIVESTOCK %</th>
    <th height="50" width="10%">AGRI %</th>
    <th height="50" width="10%">INFRA %</th>
    <th height="50" width="10%">COMMERCE %</th>
  </tr>
 
  <%@hit.map(&:barangay_id).uniq.each do |b|%> 
    <%bid1=Barangay.where('id = ?', b)%>
    <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <td height="50" width="20%"><%= bid1[0].municipality_id %></td>    
    <td height="50"><%= b%></td>
    <td height="50" width="20%"><%= bid1[0].name %></td>
    <td height="50" width="20%"><%= bid1[0].area %></td>
    <%bid2=0%><%bid3=0%><%bid4=0%><%bid5=0%><%bid6=0%>
    <%bid7=0%><%bid8=0%><%bid9=0%><%bid10=0%>
    <%bid2=@hit.where(:barangay_id => b).sum :dead%>
    <%bid3=@hit.where(:barangay_id => b).sum :missing%>
    <%bid4=@hit.where(:barangay_id => b).sum :injured%>
    <%bid5=@hit.where(:barangay_id => b).sum :displaced%>
    <%bid6=@hit.where(:barangay_id => b).sum :relocated%>
    <%bid7=@hit.where(:barangay_id => b).sum :livestock%>
    <%bid8=@hit.where(:barangay_id => b).sum :agri%>
    <%bid9=@hit.where(:barangay_id => b).sum :infra%>
    <%bid10=@hit.where(:barangay_id => b).sum :commerce%>
    <td height="50" width="20%"><%= bid2%></td>
    <td height="50" width="20%"><%= bid3%></td>
    <td height="50" width="20%"><%= bid4%></td>
    <td height="50" width="20%"><%= bid5%></td>
    <td height="50" width="20%"><%= bid6%></td>
    <td height="50" width="20%"><%= bid7%></td>
    <td height="50" width="20%"><%= bid8%></td>
    <td height="50" width="20%"><%= bid9%></td>
    <td height="50" width="20%"><%= bid10%></td>
</tr><%end%>
</table>

<%c= Hit.where(['hits.disaster_id = ?',@d.id]).count%>
<h3>ZONES AFFECTED: <%=c%></h3>

<table BORDER=4 CELLSPACING=4 CELLPADDING=4>
   <tr  style="outline: thin solid" bgcolor="#C0C0C0">    
    <th height="50" width="10%">Zone<br>ID</th>
    <th height="50" width="10%">NAME</th>
    <th height="50" width="10%">BARANGAY</th>
    <th height="50" width="10%">MUNICIPALITY</th>
    <th height="50" width="10%">MAJOR<br>EFFECT</th>
    <th height="50" width="10%">MAJOR<br>LIFELINE DAMAGED</th>
    <th height="50" width="10%">HOUSEHOLDS</th>
  </tr>
<%@total_hh=0%><%@total_area=0%>
<% @hit.all.each do |y| %>
  <tr  style="outline: thin solid" bgcolor="#C0C0C0"> 
      <td height="50" width="10%"><%= y.zone_id %></td>
      <%@zone= Zone.joins(:hit).where(['hits.zone_id = ?',y.zone_id])%>
      <%@barangay= Barangay.joins(:zone).where(['zones.barangay_id = ?',@zone[0].barangay_id])%>
      <%@mun= Municipality.joins(:barangay).where(['barangays.municipality_id = ?',@barangay[0].municipality_id])%>
      <%@hh= Household.where('zone_id = ?', y.zone_id)%>



      <td height="50" width="20%"><%= @zone[0].name %></td>
      <td height="50" width="20%"><%= @barangay[0].name %></td>
      <td height="50" width="20%"><%= @mun[0].name%></td>
      <td height="50" width="20%"><%= y.effect1 %></td>
      <td height="50" width="20%"><%= y.dlifeline1%></td>
      <td height="50" width="20%"><%= @hh.count%></td>
      <%@total_hh = @total_hh + @hh.count%>
      <%@total_area = @total_area+@zone[0].area%>

  </tr><%end%> 

</table>
<table BORDER=4 CELLSPACING=4 CELLPADDING=4>
  <tr  style="outline: thin solid" bgcolor="#C0C0C0">
  <th height="50" width="20%" colspan="3">TOTAL NUMBER OF HOUSEHOLD:</th>  
  <th height="50" width="20%"><%=@total_hh%></th>
  <th height="50" width="20%" colspan="3">TOTAL AREA AFFECTED:</th>  
  <th height="50" width="20%"><%=@total_area%></th>
</tr>
</table>



<table BORDER=4 CELLSPACING=4 CELLPADDING=4>
  <h3>TOTAL EFFECT ON PEOPLE</h3>
   <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <th height="50" width="10%">ZONE ID</th>  
    <th height="50" width="10%">DEAD</th>
    <th height="50" width="10%">MISSING</th>
    <th height="50" width="10%">INJURED</th>
     <th height="50" width="10%">DISPLACED</th>
    <th height="50" width="10%">RELOCATED</th>
  </tr>

<%@dx=0%><%@m=0%><%@i=0%><%@dis=0%><%@r=0%><%@go=0%>

<% @hit.all.each do |y| %>
  
  <tr  style="outline: thin solid" bgcolor="#C0C0C0"> 
      <td height="50" width="10%"><%= y.zone_id %></td>
      <td height="50" width="10%"><%= y.dead%></td>
      <td height="50" width="10%"><%= y.missing%></td>
      <td height="50" width="10%"><%= y.injured%></td>
      <td height="50" width="10%"><%= y.displaced%></td>
      <td height="50" width="10%"><%= y.relocated%></td>
      <%@dx=@dx+(y.dead||0)%>
      <%@m=@m+(y.missing||0)%>
      <%@i=@i+(y.injured||0)%>
      <%@dis=@dis+(y.displaced||0)%>
      <%@r=@r+(y.relocated||0)%>
      <%@go=@go+(y.good||0)%>
  </tr><%end%> 
   <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <th height="50" width="10%">Human loss /affected due<br> to disaster caused by vulnerability<br> to natural hazards</th>
    <th height="50" width="10%"><%=@dx%></th>
    <th height="50" width="10%"><%=@m%></th>
    <th height="50" width="10%"><%=@i%></th>
    <th height="50" width="10%"><%=@dis%></th>
    <th height="50" width="10%"><%=@r%></th>
  </tr>
</table>

<table class="tableContainer" cellspacing="80px" BORDER=4> 
 <h3>INDIVIDUAL AGE BRACKET COUNT </h3>
 <tr  style="outline: thin solid" bgcolor="#C0C0C0"> 
  <th height="50" width="10%"> Age </th>
  <th height="50" width="10%"> Dead </th>
  <th height="50" width="10%"> Missing </th>
  <th height="50" width="10%"> Injured </th>
  <th height="50" width="10%"> Displaced </th>
  <th height="50" width="10%"> Relocated </th>
  
 </tr>
 <tr  style="outline: thin solid" bgcolor="#B0C4DE"> 
  <th height="50"> BABIES<br>(0-2):</th>
  <th height="50" > <%=@dead_age1%></th>
  <th height="50" > <%=@miss_age1%></th>
  <th height="50" > <%=@inj_age1%></th>
  <th height="50" > <%=@dis_age1%></th>
  <th height="50" > <%=@rel_age1%></th>
 </tr> 

 <tr  style="outline: thin solid" bgcolor="#B0C4DE"> 
  <th height="50"  width="20%"> CHILDREN<br>(3-10):</th>
  <th height="50" > <%=@dead_age2%></th>
  <th height="50" > <%=@miss_age2%></th>
  <th height="50" > <%=@inj_age2%></th>
  <th height="50" > <%=@dis_age2%></th>
  <th height="50" > <%=@rel_age2%></th>
 </tr> 

 <tr  style="outline: thin solid" bgcolor="#B0C4DE"> 
  <th height="50"  width="20%">TEENS<br>(11-20):</th>
  <th height="50" > <%=@dead_age3%></th>
  <th height="50" > <%=@miss_age3%></th>
  <th height="50" > <%=@inj_age3%></th>
  <th height="50" > <%=@dis_age3%></th>
  <th height="50" > <%=@rel_age3%></th>
 </tr> 

 <tr  style="outline: thin solid" bgcolor="#B0C4DE"> 
  <th height="50"  width="20%">ADULT<br>(21-59):</th>
  <th height="50" > <%=@dead_age4%></th>
  <th height="50" > <%=@miss_age4%></th>
  <th height="50" > <%=@inj_age4%></th>
  <th height="50" > <%=@dis_age4%></th>
  <th height="50" > <%=@rel_age4%></th>
 </tr> 

 <tr  style="outline: thin solid" bgcolor="#B0C4DE"> 
  <th height="50"   width="20%">SENIOR<br>(60 - above): </th>
  <th height="50" > <%=@dead_age5%></th>
  <th height="50" > <%=@miss_age5%></th>
  <th height="50" > <%=@inj_age5%></th>
  <th height="50" > <%=@dis_age5%></th>
  <th height="50" > <%=@rel_age5%></th>
 </tr> 



<table BORDER=4 CELLSPACING=4 CELLPADDING=4>
  <h3>TOTAL ECONOMIC LOSS</h3>
   <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <th height="50" width="10%">ZONE ID</th>  
    <th height="50" width="10%">LIVESTOCK</th>
    <th height="50" width="10%">value</th>
    <th height="50" width="10%">AGRICULTURE</th>
     <th height="50" width="10%">value</th>
    <th height="50" width="10%">COMMERCE/TRADE</th>
     <th height="50" width="10%">value</th>
    <th height="50" width="10%">INFRASTRUCTURE</th>
     <th height="50" width="10%">value</th>
   </tr>
<%@l=0%><%@a=0%><%@c=0%><%@ix=0%>

<% @hit.all.each do |y| %>
  <%@zone= Zone.joins(:hit).where(['hits.zone_id = ?',y.zone_id])%>
  <%@lvalue1=@zone[0].livestock*(y.livestock/100)%>
  <%@lvalue2=@zone[0].agri*(y.agri/100)%>
  <%@lvalue3=@zone[0].commercial*(y.commerce/100)%>
  <%@lvalue4=@zone[0].infra*(y.infra/100)%>
  <tr  style="outline: thin solid" bgcolor="#C0C0C0"> 
      <td height="50" width="10%"><%= y.zone_id %></td>
      <td height="50" width="10%"><%= y.livestock%>%</td>
      <td height="50" width="10%"><%=@lvalue1%></td>
      <td height="50" width="10%"><%= y.agri %>%</td>
      <td height="50" width="10%"><%=@lvalue2%></td>
      <td height="50" width="10%"><%= y.commerce%>%</td>
      <td height="50" width="10%"><%=@lvalue3%></td>
      <td height="50" width="10%"><%= y.infra%>%</td>
      <td height="50" width="10%"><%=@lvalue4%></td>
      <%@l=@l+(@lvalue1||0)%>
      <%@a=@a+(@lvalue2||0)%>
      <%@c=@c+(@lvalue3||0)%>
      <%@ix=@ix+(@lvalue4||0)%>
  </tr><%end%> 
</table>
      
<table class="tableContainer" style="outline: thin solid" cellspacing="80px"> 
   <tr  style="outline: thin solid" bgcolor="#C0C0C0">
    <th height="50" width="3%">TOTAL</th>
    <th height="50" width="5%"><%=@l%> Pesos</th>
    <th height="50" width="5%"><%=@a%> Pesos</th>
    <th height="50" width="5%"><%=@c%> Pesos</th>
    <th height="50" width="5%"><%=@ix%> Pesos</th>
  </tr>
</table></center><br><br><br><br><br><br><br><br><br>
<font size="2">Ready for Dissemination:<br><br><br><br><br>

<b>MRS. TERESITA SIASON</b><br>
HEAD - Guimaras PDRRMC<br>
San Miguel, Jordan, Guimaras<br>

</div>